@import './variables';

#blog-post {

  .star-rating {
    color: $star-color;
  }

  .author-details {
    align-items: center;
    justify-content: space-between;
    img {
      max-height: 30px;
      max-width: 30px;
      object-fit: contain;
      border-radius: 50%;
      margin-top: 6px;
    }
  }

  .likes {
    &.liked {
      cursor: default;
      pointer-events: none;
    }
    svg {
      margin-right: 8px;
    }
  }

  hr {
    background-color: $primary;
  }

}
