@import './variables';

#blog-post {

  .star-rating {
    color: $star-color;
  }

  .author-details {
    align-items: center;
    img {
      max-height: 30px;
      max-width: 30px;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  hr {
    background-color: $primary;
  }

}
