.center-everything {
  display: flex !important;
  justify-content: center;
  align-items: center;
  &.vertically {
    flex-direction: column;
  }
}

.is-flex-column {
  display: flex;
  flex-direction: column;
}

// Transitions for use with CSSTransition
.general-transition-appear {
  opacity: 0;
}
.general-transition-appear-active {
  opacity: 1;
  transition: opacity 400ms;
}

.loading-container-small {
  height: 100px;
}
.loading-container-medium {
  height: 300px;
}
.loading-container-large {
  height: 600px;
}

.padding-none {
  padding: 0rem !important;
}
.padding-none--top {
  padding-top: 0rem;
}
.padding-none--right {
  padding-right: 0rem;
}
.padding-none--bottom {
  padding-bottom: 0rem;
}
.padding-none--left {
  padding-left: 0rem;
}

.padding-half {
  padding: .75rem;
}
.padding-half--top {
  padding-top: .75rem;
}
.padding-half--right {
  padding-right: .75rem;
}
.padding-half--bottom {
  padding-bottom: .75rem;
}
.padding-half--left {
  padding-left: .75rem;
}

.padding {
  padding: 1.5rem;
}
.padding--top {
  padding-top: 1.5rem;
}
.padding--right {
  padding-right: 1.5rem;
}
.padding--left {
  padding-left: 1.5rem;
}
.padding--bottom {
  padding-bottom: 1.5rem;
}
.padding-double {
  padding: 3rem;
}
.padding-double--top {
  padding-top: 3rem;
}
.padding-double--right {
  padding-right: 3rem;
}
.padding-double--left {
  padding-left: 3rem;
}
.padding-double--bottom {
  padding-bottom: 3rem;
}

.margin-none {
  margin: 0rem !important;
}
.margin-none--top {
  margin-top: 0rem !important;
}
.margin-none--right {
  margin-right: 0rem !important;
}
.margin-none--bottom {
  margin-bottom: 0rem !important;
}
.margin-none--left {
  margin-left: 0rem !important;
}

.margin-half {
  margin: .75rem !important;
}
.margin-half--top {
  margin-top: .75rem !important;
}
.margin-half--right {
  margin-right: .75rem !important;
}
.margin-half--bottom {
  margin-bottom: .75rem !important;
}
.margin-half--left {
  margin-left: .75rem !important;
}

.margin {
  margin: 1.5rem;
}
.margin--top {
  margin-top: 1.5rem;
}
.margin--right {
  margin-right: 1.5rem;
}
.margin--bottom {
  margin-bottom: 1.5rem;
}
.margin--left {
  margin-left: 1.5rem;
}
