@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/functions.sass';
@import '~bulma/sass/utilities/derived-variables.sass';

@import './styles/variables';
@import './styles/helpers';
@import './styles/media-queries';

@import 'bulma';

// global styles

* {
  transition: color .5s ease;
  transition: background-color .5s ease;
}

div.app {
  color: var(--text-color);
  background-color: var(--background-color);
}

section.container {
  min-height: calc(100vh - 52px);
  padding-bottom: 3rem;
  div.columns {
    margin: 0;
  }
}
